Jinja2==2.8
MarkupSafe==0.23
Padding==0.4
Pygments==2.0.2
appnope==0.1.0
argparse==1.2.1
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
certifi==2015.11.20
decorator==4.0.4
functools32==3.2.3-2
keen==0.3.20
pycrypto==2.6.1
requests==2.9.1
wsgiref==0.1.2
